

.navbar1 {
  max-height: 105px;
  position: fixed;
  z-index: 999;
  padding-top:50px;
  // padding-bottom: 6px;
  overflow: hidden;
  // padding-top: 10px;
  width: 100%;
  -webkit-transition: all 2s;
   transition: all 2s;
  padding-bottom: 10px;
  display:"frex";
  direction:"row";
}
@media only screen and (max-width: 1200px) {
  .navbar1{ 
    padding-top: 20px;
    max-height: 65px;
    -webkit-transition: all 2.5s;
   transition: all 2.5s;
   direction:"column";
   align-items:"center";

  }
}
@media only screen and (max-width: 500px) {
  .navbar1{

   direction:"column";
   align-items:"center";

  }
}
.navbar-sticky {
  max-height: 75px;
  // background: #333;
  position: fixed;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  top: 0;
  left: 0;
  padding-top:20px;
  box-shadow: 1px 1px 1px #222;
  animation: fadeIn 2s ease;
}
.logo {
 margin:0;
 padding:0;
  cursor: pointer;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 15px;
  // animation: rotate 0.7s ease-in-out 0.5s;
}


@media only screen and (max-width: 768px) {
  .logo {
    float: none;
    width: 30px;
  }
}
  @media only screen and (max-width: 500px) {
    .logo {
      width: 25px;

    }
}
// .navbar--logo {
//   width: 2rem;
//   height: 2rem;
//   margin-right: 0.5rem;
//   z-index: 999;
//   animation: rotate 0.7s ease-in-out 0.5s;
// }

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}



.open-nav {
  max-height: 450px !important;
  background-color: #42c1fc;
  opacity:0.9;
  display: flex;
  
}

nav {
  display:"frex";
  direction:"row";
  justify-content:"space-around";
  // align-items: center;//
}
@media only screen and (max-width: 768px) {
  nav {
    width: 768px;
    direction:"column";
    align-items:"center";

  }
}
@media only screen and (max-width: 500px) {
  nav {
    width: 500px;
    float: left;

  }
}
nav ul {
padding-left:0;
  list-style: none;
  overflow: hidden;
  text-align:center;
  float:right;
  padding-top:6px;
  height:50px;
  display: flex;//
  width:950px;//
  margin:0;//
}
@media only screen and (max-width: 768px) {
  nav ul {
    
    margin-bottom: 15px;
    width: 100%;
    max-width:768px;
    padding-top:16px;
    height:200px;
    display:flex;
    flex-flow: column wrap
  }
}
@media only screen and (max-width: 500px) {

    nav ul {
      width:100%;
      max-width:500px;
      padding-top:0;
      height:250px;
      text-align:center;
      margin-top:10px;
    
    }
  
}
.nav ul li {
  display: inline-block;
  margin-left: 25px;
  line-height: 1.5;
  font-size:11px;
  margin-top:10px;
}
@media only screen and (max-width: 768px) {
  nav ul li {
    width: 100%;
    max-width:768px;
    text-align:left;
    padding: 3px 0;
    margin: 0;

  }
}
@media only screen and (max-width: 500px) {
  nav ul li {
    width: 100%;
    max-width:500px;
    padding: 3px 0;
    text-align:left;

  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 11px;

}
@media only screen and (max-width: 768px) {
  nav ul a {
    font-size: 18px;
    width:140px;
   
  }
}
@media only screen and (max-width: 500px) {
  nav ul a {
    font-size: 20px;
    width:100px;

  }
}


.mobile-wrapper {
  width:35px;
  position: absolute;
  top:0;
  cursor: pointer;
  font-size: 20px;
  right:22px;
  margin-top:10px;
  display: none;
  transform:translate(-50%,-50%);

}


@media only screen and (max-width: 1200px) {

  .mobile-wrapper{
    display:block;
    margin-top:20px;
    right:0;
  }
}
// @media only screen and (max-width: 768px) {

//   .mobile-wrapper{
//     display:block;
//     margin-top:20px;
//     right:0;
//   }
// }
@media only screen and (max-width: 768px) {
  .mobile-wrapper{
    right:0;
  }
}



.mobile-wrapper span{
  background:#8f8f8f;
  color:black;
  width: 36px;
  height: 6px;
  margin: 5px;
  display:block;
  border-radius: 2px;
  transition:all ease 0.5s;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px) translateX(8px);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px) translateX(8px);
}


.close:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.close:nth-child(2) {
  opacity: 1;
}

.close:nth-child(3) {
  transform: rotate(0) translateY(0);
}
.row {
  width: 100%;
  max-width: 1470px;
  height:400px;
  margin: 0 auto;
  position: relative;
 padding: 0 1% 0 1.5%;
}


@media only screen and (max-width: 768px) {
  .row {
    width: 100%;
    max-width: 768px;
    height:450px;
    margin: 0 auto;
    padding: 0 2%;
 
  }
}

@media only screen and (min-width:500px){
  .row {
    width: 100%;
    min-width:500px;
    height:450px;
    margin: 0;
    // padding: 0 2%;
    // display: flex;
    // flex-direction: column;
  }
}



a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  // text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}


.content {
  padding: 50px 2% 250px;

}

.hero {
  position: relative;
  display: block;
  background: url(/assets/mainphoto1.jpg) no-repeat center center;
  -webkit-background-size:100% 100%;
  -moz-background-size:100% 100%;
  background-size: 100% 100%;
  text-align: center;
  // padding-top: calc(500 / 1300 * 100%);
  object-fit: cover;
  color: #fff;
  padding-top: 90px; 
  padding-bottom: 70px;
  height:auto;
  width:100%;
  max-height:655px;
  letter-spacing: 2px;
 
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  background-blend-mode: screen;
  overflow: hidden;
}



// .hero:before{
//   content: '';
//   background: inherit;
//   -webkit-filter: blur(1px);
//   -moz-filter: blur(1px);
//   -o-filter: blur(1px);
//   -ms-filter: blur(1px);
//   filter: blur(1px);
//   position: absolute;

//   top: -5px;
//   left: -5px;
//   right: -5px;
//   bottom: -5px;
//   z-index: -1;
// }

@media only screen and (max-width: 768px) {

 .hero{
  height:100%;
  min-height:300px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  max-width: 768px;
 
}
}
@media only screen and (max-width:500px){

  .hero{
    height:100%;
    padding-top:0;
    max-height:500px;
    width: 100%;
    max-width:550px;
    -webkit-background-size:center;
    -moz-background-size:center;
    background-size: center;
    object-fit: center;
  }
}

.hero h1 {
  font-family: 'Cinzel', serif;
  text-shadow: 0 0 10px 18px rgba(0,0,0,.3);
  margin-top:65px;
  font-size: 40px;
  line-height: 1.3;
  border-radius: 7px;
  opacity:.8;
  background-color:#fff;
  height:155px;
  width:68%;
  margin-right:15%;
  margin-left:17%;
  color:black

}
@media only screen and (max-width: 768px) {
  .hero h1 {
    margin-top:20px;
    height:250px;
    width: 100%;
    max-width: 610px;
    margin-right:30px;
    margin-left:30px;
  }

 }
 @media only screen and (max-width:500px) {

  .hero h1 {
    margin-top:80px;
    margin-right:0;
    margin-left:0;
    
    padding:0;
    height:220px;
    width: 100%;
    max-width:500px;
  }
}


.hero h1 span {
  font-size: 25px;
  color: #2746f5;
  border-bottom: 2px solid #2746f5;
  padding-bottom: 12px;
  margin-left:35px;
  line-height: 3;

}
@media only screen and (max-width: 768px) {
  .hero h1 span {
    font-size: 30px;
    padding-bottom: 8px;
  }

 }
 @media only screen and (max-width:500px) {
  .hero h1 span {
    font-size: 26px;
    padding-bottom: 4px;

  }
}

.reveals-main{
  display:flex;
  margin-left:30px;
  justify-content: center;
  flex-wrap: wrap;
  height:50px;
  width:100%;
  font-size:32px;
}
@media only screen and (max-width: 768px) {
 
.reveals-main{
 margin-left:10px;
  height:60px;
  width:100%;
  font-size:35px;
}
 }
 @media only screen and (max-width:500px) {
  .reveals-main{
  margin-left:2px;
  height:40px;
  width:100%;
  max-width:500px;
  font-size:30px;
  }
}


.title {
  margin:0;
  width: 100%;
  // text-align: left;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-weight:600;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .title {
    width: 100%;
    max-width:768px;
    text-align:left;
    padding: 3px 0;
    margin: 0;
    

  }
}
@media only screen and (max-width: 500px) {
  .title {
    width: 100%;
    max-width:500px;
    padding: 3px 0;
    text-align:left;

  }
}
.title.selected {
  font-size: 22px;
  width:100%;
  position: relative;
  display: inline-block;
  // margin-left: 10px;
  line-height: 1.5;
  font-weight:700;
  margin:0;
  
}


.underline {
  width: 98%;
  height: 6px;
  border-radius: 4px;
  background: black;
  position: absolute;
  bottom: -1px;

}
@media only screen and (max-width: 768px) {
  .underline{
    height: 4px;
    width: 27%;
  }
}



@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


.container {
  position: relative;
  width: "100%";
  height: 40px;
}
@media only screen and (max-width: 768px) {
  .container {
    height: 30px;

  }
   }

.chevron {
  margin-top:160px;
  position: absolute;
  width: 60px;
  height: 9px;
  opacity: 0;

  // margin-right:"40px";
  animation: move 3s ease-out infinite;
}

@media only screen and (max-width: 768px) {
  .chevron {
    margin-top:40px;
  }
   }
@media only screen and (max-width: 768px) {
  .container {
    width: 40px;
    margin-top:140px;
  }
   }

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:nth-child(3) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) ;
  }
}

.text {
  display: block;
  margin-top: 265px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .9;
  animation: pulse 2s linear alternate infinite;
}
@media only screen and (max-width: 500px) {
  .text {
    margin-top: 150px;
  }
   }
@keyframes pulse {
  to {
    opacity: 1;
  }
}

///news
.news{
  width:94%;
  margin-left:3%;
  margin-right:3%;
  display:block;
  position: absolute;
  z-index:10;
  top:610px;
 
 
}


@media only screen and (max-width: 768px) {

  .news{
    padding:18px;
    border-left:none;
    top:80%;
  }
 }
 @media only screen and (max-width: 500px) {

  .news{
    padding:0;
  }
 }


.news_inner{
  display:flex;
  border: 1px solid #0a2152;
  // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  // border-radius: 7px;
  background:#fff;
  align-items:flex-start;
  margin:0 auto;
  // height:340px;
  max-height:600px;
  height:100%;
  z-index:10;
  border-radius: 5px;
 position: relative;

  // outline-offset:-5px;
}

.news:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 94%;
  border-radius: 10px;
  top: 0;
  left: 0;
  z-index:2;
  -webkit-transform: translate(-9px, -6px);
  -ms-transform: translate(-9px, -6px);
  -o-transform: translate(-9px, -6px);
  transform: translate(-9px, -6px);
  background: #fff;
  opacity:0.7;
}


.news:after{
  content: "";
  position: absolute;
  width: 85%;
  height: 94%;
  bottom: 0;
  right: 0;
  z-index:9;
  border-radius: 10px;
  -webkit-transform: translate(9px, 6px);
  -ms-transform: translate(9px, 6px);
  -o-transform: translate(9px, 6px);
  transform: translate(9px, 6px);
  // background: #3F51B5;
  background: #E91E63;
  opacity:0.6;
}
@media only screen and (max-width: 768px) {

  .news_inner{
    margin:0 auto;
    max-width:768px;
    width:100%;
    height:100%;
    max-height:400px;
  }
 }



 @media only screen and (max-width:500px)  {

  .news_inner{
    max-width:500px;
    width:100%;
    height:100%;
    max-height:700px;
    margin:0;
 
  }
 }
.news h2{
  background-color:#f1e30a;
  border-radius:12px;
  font-size:18px;
  font-weight:500;
  padding:7px 10px;
  width:42px;
  margin-left:15px;
  margin-top:20px;
  flex:0 0 auto;
}
@media only screen and (max-width: 768px) {
  .news h2{
    border-radius:12px;
    font-size:18px;
    padding:7px 12px;
    width:45px;
    margin-left:40px;

  }

 }
 @media only screen and (max-width: 500px) {
  .news h2{
    border-radius:10px;
    font-size:16px;
    padding:6px 10px;
    width:40px;
    margin-right:0;
    margin-left:10px;
    margin-top:10px;

  }

 }

.news_box{
  // margin-left:10px;
  margin-top:10px;
  margin-right:15px;
  margin-bottom:10px;
}
@media only screen and (max-width: 768px) {

 
.news_box{
  margin-left:30px;
  margin-top:3px;
  margin:0 auto;
  max-width:530px;
  width:100%;
}
 }
 @media only screen and (max-width:500px) {

 
  .news_box{
    margin-left:20px;
    margin:0 auto;
    max-width:500px;

    width:100%;
  }
   }

.news dl{
  display:flex;
  margin:0;
  font-size:16px;
 
  // background-color:#4b89dc;
}
@media only screen and (max-width:500px) {

 
  .news dl{
    display:flex;
    // direction:column;
    // align-items: start;
    margin:0;
    font-size:13px;
  }

}
.news dl + dl{
  margin-top:10px;
}
@media only screen and (max-width:500px) {

 
  .news dl + dl{
   margin-top:0;
  }

}


.news dt time{
  // color:#212423;
  color:#464646;

}
.news dd{
  margin-right:14px;
  color:#464646;

  // background: linear-gradient(transparent 2%, #fbd 5%);
}
@media only screen and (max-width:500px) {

  .news dt time{
    display:none;
    margin:0;
  }
  .news dd{
    margin-right:2px;
    margin-left:0;
    color:#464646;;
    
  }

}

blockquote {
  line-height: 1.5;
  position: relative;
  margin-right: 0;
}

blockquote:before {
  content: '';
  height: 100%;
  width: 8px;
  border-radius: 8px;
  background: #4b89dc;
  position: absolute;
  left: -1.3rem;
  top: 0;

}

section blockquote:before {
  background: #4b89dc;
}





/////text
  .talk-bubble {
    display: inline-block;
    position: relative;
    width: 380px;
    background-color: lightyellow;
    -webkit-box-shadow: -11px 12px 41px -20px rgba(0,0,0,0.76);
    -moz-box-shadow: -11px 12px 41px -20px rgba(0,0,0,0.76);
    box-shadow: -11px 12px 41px -20px rgba(0,0,0,0.76);

  }
  .border{
    border: 6px solid #666;
  }
  .round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  
  }
  
  
  /*Right triangle, placed bottom left side slightly in*/
  .tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
  }
  .tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
  }
  
  .tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
  }
  .tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
  }
  
  /* talk bubble contents */
  .talktext{
    padding: .8em;
    text-align: center;
    line-height: 1.5em;
    font-size:23px;
    font-weight:500;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  ///photo//

  .photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 290px;
    text-align: center;
   
}

.photo-box-thin {
    height: 150px;
   
}


    .photo-box img {
        max-width: 100%;
        height: auto;
        min-height: 280px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1.2s ease-in-out;
        transition: 1.2s ease-in-out;
        opacity: 1;
        position: relative;
    }

    .photo-box:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      // opacity: .7¥¥;

    }
 

    .photo-box aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: white;  
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0.5) 0%,rgba(12,2,2,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

    }

    .photo-box aside span {
        color: #aaa;
    
    }

        .photo-box aside span a {
            color: #ccc;
           
            text-decoration: none;
        }

.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    // background:rgb(147, 152, 163);
    padding:10px;
    color: rgb(255, 190, 94); /* steel blue */
}
// .text-box2 {
//   background: rgb(49, 49, 49); /* bluish grey */

//   color: rgb(255, 190, 94); /* steel blue */
// }



    .text-box-head {
        color: #fff;
       
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 18px;
      
    }

    .text-box-subhead {
        font-weight: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }


@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}




/////

.galleryBody {
  height:90%;
  padding-top:70px;
  padding-bottom:70px;
  font-size: 100%;
  line-height: 1.48;
  position: relative;
  z-index:10;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color:rgba(0,0,0,.9);
  // background-color:rgba(255,255,255,0.8);
}


.gallery {
  margin: 0;

  // padding-top:50px;
  padding-bottom:10px;
  padding-right:120px;
  padding-left:120px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 17vw;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.galleryText{
	font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size:48px;
  top: 15%;
  left:53%;
  opacity:0.5;
  position: absolute;
  width:600px;
  z-index:-1;
  text-align: center;
  color: #fff;
  animation: fadeUpIn 3s;
  -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */
}
.gallery__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  float: none;
}

.gallery__item figure {
  width: 100%;
  height: 100%;
}

.gallery__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(.72);
  opacity: .96;
  transition: all 240ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.gallery__item:hover img {
  opacity: 1;
  filter: contrast(1);
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.gallery__item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 16px 16px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.72));
  color: white;
  opacity: 0;
  transform: translate3d(0,24%,0);
  transition: all 240ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.gallery__item:hover figcaption {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (min-width: 1024px) {
  .gallery__item:nth-child(7n+3) {
      grid-column: span 2;
      grid-row: span 2;
      max-height: calc(37.5vw + 2px);
  }
}


@media screen and (max-width: 1024px) and (min-width: 640px) {

  .gallery {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 25vw;
  }
  .gallery__item:nth-child(9n+2) {
      grid-column: span 2;
      grid-row: span 2;
      max-height: calc(50vw + 2px);
  }
}
@media screen and (max-width: 640px) {
  .gallery {
      display: block;
      margin: 16px;
  }
  .gallery__item:not(last-of-type):after {
      content:'';
      display: block;
      width: 100%;
      height: 16px;
  }
}
//////


